/*///////////////////////The layout*/
body {
font-family:Calibri;
}
#wrapper {
width:1024px;
height:768px;
background: url("images/background.jpg") no-repeat;
margin: 0 auto;
}
#leftContent {
width: 704px;
height:587px;
float: left;
background: url("images/papy.png") no-repeat;
/*background-color:#FFD966;
border: 1px solid black;*/
margin: 10px 0 0 5px;
}
#rightContent {
width: 270px;
height: 550px;
float: right;
margin: 20px;
}
#rightUp {
	height:400px;
	background: url("images/papVert.png") no-repeat;
	padding: 43px;
	font-style: italic;
	box-sizing: border-box;
}
#rightBottom {
    padding-top:8px;
}
#header{
font-family:Papyrus;
font-size:48px;
text-decoration:underline;
font-weight: 800;
width:550px;
margin: 0 auto;
padding-top:30px;
}
#mainButtonDiv {
width:310px; 
height:300px;
margin:0 auto;
padding:100px 0 0 0;
cursor:pointer
}
/*//////////////////////////Controles*/
.mainButtons {
font-family:Calibri;
font-size:28px;
width: 300px;
height:50px;
background-color:#FFD966;
border: 1px solid black;
margin:20px 0;
cursor:pointer
}
.pageButtons {
font-family:Calibri;
font-size:28px;
width: 270px;
height:50px;
background-color:#E4BF8F;
border: 1px solid black;
margin:20px 0 0 0 ;
cursor:pointer
}
.mainButtons:hover {
 background-color:#EDBD2E;
 cursor:pointer
}
.pageButtons:hover {
 background-color:#C7A77D;
 cursor:pointer
}
#gameName {
font-family:Papyrus;
font-size:48px;
text-decoration:underline;
font-weight: 800;
}
.label {
width:150px;
height: 25px;
border: 1px solid black;
margin: 5px 10px 0 0;
float:left;
padding-left:5px;
}
.labelScore {
float: left;
width:80px;
height: 25px;
border: 1px solid black;
margin: 5px 10px 0 0;
background-color:white;
padding-left:5px;
}
.editorScore {
width:150px;
height: 23px;
border: 1px solid black;
margin: 5px 0 0 0;
float:right;
}
.editor{
float: right;
width:80px;
height: 23px;
border: 1px solid black;
margin: 5px 0 0 0;
background-color:white;
}
.pairControl {
width:250px;
margin-left:20px;
}
/*CityManagement*/
#Diagram {
float:right;
width:340px;
height:352px;
background-color:white;
border:1px solid black;
margin-right:50px;
margin-top:5px;
}
#Controles {
float:left;
margin-left:25px;
width:280px;
}
#textRightup {
width:210px; 
font-style:italic;
text-align:justify;
font-size:18px;
font-family:Calibri;
padding: 50px 10px;
margin: 0 auto;
}
.imageCityManagement {
    float: left; 
    width: 70px; 
    text-align: center; 
    font-size: 20px; 
    font-weight: bold; 
<<<<<<< HEAD
    margin-right: 30px;
=======
    margin-right: 30px;
    position: relative;

>>>>>>> branch 'master' of https://github.com/Blechfalke/CityBuilderProd
}
#dialog{
<<<<<<< HEAD
	background-color:#FFE699;
=======
	background-color:#FFE699;
	
=======
    position: relative;
}

.technology {
	box-sizing: border-box;
}
.checkmark {
	width: 68px;
	height: 68px;
	position: absolute;
	bottom: 1;
	left: 1;
	z-index: 2;
	visibility:hidden;
<<<<<<< HEAD
}
#writing, #granary, #pottery, #continue{	
	cursor:pointer
=======
>>>>>>> branch 'master' of https://github.com/Blechfalke/CityBuilderProd
}
