/*///////////////////////The layout*/
body {
	font-family: Calibri;
	margin:0;
}

#wrapper {
	width: 1024px;
	height: 760px;
	background: url("images/background.jpg") no-repeat;
	margin: 0 auto;
	position: relative;
}

#leftContent {
	width: 704px;
	height: 587px;
	float: left;
	background: url("images/papy.png") no-repeat;
	margin: 10px 0 0 5px;
}

#leftContentMap {
	width: 704px;
	height: 587px;
	float: left;
	background: url("images/mapPap.png") no-repeat;
	margin: 10px 0 0 5px;
}

#rightContent {
	width: 270px;
	height: 550px;
	float: right;
	margin: 20px;
}

#rightUp {
	height: 400px;
	background: url("images/papVert.png") no-repeat;
	padding: 43px;
	font-style: italic;
	box-sizing: border-box;
}

#rightBottom {
	padding-top: 8px;
}

#header {
	font-family: Papyrus;
	font-size: 48px;
	text-decoration: underline;
	font-weight: 800;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
}

#mainButtonDiv {
	width: 310px;
	margin: 0 auto;
	padding: 100px 0 0 0;
}
/*//////////////////////////Controles*/
.mainButtons {
	font-family: Calibri;
	font-size: 28px;
	width: 300px;
	height: 50px;
	background-color: #E4BF8F;
	border: 1px solid black;
	border-radius: 35px;
	margin: 20px 0;
	cursor: pointer
}

.pageButtons {
	font-family: Calibri;
	font-size: 28px;
	width: 270px;
	height: 50px;
	background-color: #E4BF8F;
	border: 1px solid black;
    border-radius: 35px;
	margin: 20px 0 0 0;
	cursor: pointer
}

.mainButtons:hover {
	background-color: #C7A77D;
	cursor: pointer
}

.pageButtons:hover {
	background-color: #C7A77D;
	cursor: pointer
}

#gameName {
	font-family: Papyrus;
	font-size: 48px;
	text-decoration: underline;
	font-weight: 800;
}

.label {
	width: 150px;
	height: 25px;
	border: 1px solid black;
	margin: 5px 10px 0 0;
	float: left;
	padding-left: 5px;
	box-sizing: border-box;
	padding-top: 2px;
}

.labelScore {
	float: left;
	width: 80px;
	height: 25px;
	border: 1px solid black;
	margin: 5px 10px 0 0;
	background-color: white;
	padding-left: 5px;
}

.editorScore {
	width: 150px;
	height: 23px;
	border: 1px solid black;
	margin: 5px 0 0 0;
	float: right;
}

.editor {
	float: right;
	width: 80px;
	height: 25px;
	border: 1px solid black;
	margin: 5px 0 0 0;
	background-color: white;
}

.pairControl {
	width: 250px;
	margin-left: 20px;
}

.loginForm {
	width: 300px;
	height: 40px;
	line-height: 25px;
	font-size: 20px;
	margin-bottom: 15px;
	padding: 5px;
}

.cityCircle {
	background: red;
	border-radius: 100%;
	border: 4px solid white;
	position: absolute;
	width: 40px;
	height: 40px;
}
.cityCircle:hover{
	cursor:pointer;
	background: #CF0000;
}

.locale{
	float:right; 
	margin-right:10px;
}
/*CityManagement*/
#Diagram {
	float: right;
	width: 340px;
	height: 352px;
	background-color: white;
	border: 1px solid black;
	margin-right: 50px;
	margin-top: 5px;
}

#Controles {
	float: left;
	margin-left: 25px;
	width: 280px;
}

#textRightup {
	width: 210px;
	font-style: italic;
	text-align: justify;
	font-size: 18px;
	font-family: Calibri;
	padding: 50px 10px;
	margin: 0 auto;
}

.imageCityManagement {
	float: left;
	width: 70px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-right: 30px;
	margin-right: 30px;
	position: relative;
	float: left;
	width: 70px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-right: 30px;
	position: relative;
}

#dialog {
	background-color: #FFE699;
	background-color: #FFE699;
	position: relative;
	background-color: #FFE699;
	position: relative;
}

.technology {
	box-sizing: border-box;
}

.checkmark {
	width: 70px;
	height: 70px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 2;
	visibility: hidden;
	pointer-events: none;
}

#writing, #granary, #pottery, #continue {
	cursor: pointer
}

#writing, #granary, #pottery, #continue {
	cursor: pointer;
}

.ui-dialog-buttonpane {
	width: 500px;
}

.ui-dialog-buttonset {
	margin-right: auto;
	margin-left: auto;
	float: none !important;
	width: 300px;
}

.ui-button {
	width: 300px;
}

#flavourText{
	font-size:13px;	
}
#errorMSG {
	color: red;
	background-color: #FFD966;
	width: 300px;
	border: 1px solid black;
	height: 50px;
	line-height: 30px;
	padding: 10px;
	box-sizing: border-box;
}

#langdropdown {
	width: 300px;
	height: 40px;
	font-family: Calibri;
	font-size:18px;
}
#ruleContant{
	width: 900px;
	height: 500px;	
	margin: 0 auto;
	border: 1px solid #0C0605;
	overflow-y: scroll;
	background-color:#E0B586;
	border-radius: 15px;
	padding:20px;
}
.ruleHeader{
	font-weight: bold;
}
.ruleMessage{
	margin-bottom:20px;
	text-align: justify;
	
}
#backButton{
	float: right;
	margin-right:40px;
	}
	
#ruleContant::-webkit-scrollbar {
    width: 20px;
    hight:450px;
}
 
#ruleContant::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
#ruleContant::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	font-size: 18px;
}
#progressbar{
	width: 500px;
	margin: 0 auto;
	height: 30px;
	border: 0;
	border-radius: 30px;
}
.ui-progressbar-value{
	display: block !important;
	height: 100% !important;
	border: none  !important;
	border-radius: 30px !important;
}
