<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
<body>

    <div id="wrapper">
        <div id="header">Management of the city</div>
        <div id="leftContent"></div>
        <div id="rightContent">
            <div id="rightUp"></div>
            <div id="rightBottom">
            <input type="button" value="End  of turn" name="EndOfTurn" class="pageButtons"/>
            <input type="button" value="Exit game" name="ExitGame" class="pageButtons"/>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>


</body>
</html>
