

<div  style='width:450px;margin:0 15px;' >
<div>
<div id='pic' style='margin: 10px auto 10px auto;width:150px;border: 1px solid black;'></div>
</div>
<div id='text' style='width:430px; background-color:white; border: 1px solid black;text-align:center;padding:10px;' >

</div>
<div id='continue' style='width:450px; height:25px; background-color:#EACA9B; border: 1px solid black;margin-top: 10px; text-align:center;'>
Continue</div>
</div>
 <script>
 $(document).ready(function(){
	 var text = localStorage.getItem('text');
	 var pic = localStorage.getItem('pic');
	 var imageUrl = 'css/images/dialogs/' + pic + '.png'
	 $("#text").html(text);
	 $("#pic").append('<img src="' + imageUrl +'" />');
	 $('#continue').click(function(){	
		 $(this).closest('.ui-dialog-content').dialog('close');
	 })	
})
 </script>