<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
<body>

    <div id="wrapper">
        <div id="mainButtonDiv">
        <h2 id="gameName">Game modes</h2>
        <input type="button" value="Block game" name="BlockGame" class="mainButtons"/>
        <input type="button" value="Placement only" name="PlacementOnly" class="mainButtons"/>
        <input type="button" value="5 turns mode" name="5TurnsMode" class="mainButtons"/>
        <input type="button" value="Infinite turns mode" name="InfiniteTurnsMode" class="mainButtons"/>
        </div>
    </div>


</body>
</html>
