<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
<body>

    <div id="wrapper">
        <div id="header">Placement of the city</div>
        <div id="leftContent">
            <img src="../css/images/map.png" style="margin-left:50px; margin-top:40px;"/>
        </div>
        <div id="rightContent">
            <div id="rightUp"></div>
            <div id="rightBottom">
                <input type="button" value="Exit game" name="ExitGame" class="pageButtons" style="margin-top:90px;" />
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>


</body>
</html>
