<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
<body>

    <div id="wrapper">
        <div id="mainButtonDiv">
        <h2 id="gameName">City builders</h2>
        <input type="button" value="Launch the game" name="LaunchTheGame" class="mainButtons"/>
        <input type="button" value="Rules" name="Rules" class="mainButtons"/>
        <div style="height:50px;margin:20px 0;"></div>
        <input type="button" value="Exit game" name="ExitGame" class="mainButtons"/>
        </div>
    </div>


</body>
</html>
